h1{
    color:rgb(4, 96, 4);
    font-size: 50pt;
    background-color: yellow;
}
h2{
    color: blue;
    font-size: 25pt;
}
h3{
    color: brown;
    font-size: 20pt;
}

a{background-color: rgb(245, 214, 241);

}
img{max-width: 550px;
    max-height: 200px;}